<form>
  Naam:<br>
  <input type="text" [(ngModel)]="naam"><br>
  Kleur:<br>
  <input type="text" [(ngModel)]="kleur"><br>
  EBC:<br>
  <input type="text" [(ngModel)]="EBC"><br>
  AlcoholGehalte:<br>
  <input type="text" [(ngModel)]="AlcoholGehalte"><br>
  EBU:<br>
  <input type="text" [(ngModel)]="EBU"><br>
  Brouwerij naam:<br>
  <input type="text" [(ngModel)]="BrouwerijNaam"><br>
  <button (click)="PostBier()">Submit</button>
</form>
<div>
  <ul>
    <li>
      hey
    </li>
    <li>
      hoy
    </li>
    <li>
      hey
    </li>
    <li>
      hoy
    </li>
    <li>
      hey
    </li>
  </ul>
</div>